mixin mixinSocials()
    ul(class=attributes.class)
            li  
                include ../../assets/images/vk.svg
            li
                include ../../assets/images/telegram.svg
            li
                include ../../assets/images/instagram.svg
            li
                include ../../assets/images/whatsapp.svg