div.form
    h4 Для консультации заполните форму!
    p С Вами свяжутся в ближайшее время
    .data
        input(placeholder = 'Ваше Имя')
        input(placeholder = 'Ваш телефон')
        button отправить 