.wrapper
    .head 
        h1 Монтаж дымоходов
    .breadcrumbs
        p Главная > 
        p.active Монтаж дымоходов
    article.content
        p В <span>Дымоход.ру</span> вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .
    article.performances 
        .performances_list
            h3 Lorem ipsum dolor sit amet
            h2 Lorem ipsum
            ul 
                li Доступные цены
                li Собственное производсвто  Дымоходов
                li Выполнение необходимых работ, связанных с установкой камина, печи, котла
                li Гарантия (от трёх до десяти лет)
                li Работаем чисто, аккуратно, убираем за собой, не сквернословим
                li Только русские квалифицированные специалисты
                li Устанавливаем любые дымоходы всех производителей
        .performances_chimney 
            include ../../assets/images/chimney/Blob.svg
            //- include ../../assets/images/chimney/image 3.svg
            include ../../assets/images/chimney/Group_dots_3x9vertical.svg
            include ../../assets/images/chimney/Group_dots_3x9vertical copy.svg
            include ../../assets/images/chimney/Triangle.svg
            include ../../assets/images/chimney/Triangle copy.svg
            img(src='../../assets/images/chimney/image 3.png')#chimney
    article.fitInstruction 
        .red-line
        h3.art_header Процесс выполнения монтажа
        ul  
            .wrap
                .flex
                    span 1  
                    li Рассчёт предварительной заявки
                .flex
                    span 2  
                    li Замер объекта нашим инженером
                .flex
                    span 3  
                    li Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы         
            .wrap
                .flex
                    span 4  
                    li Изготовление Дымохода, покраска (если требуется)
                .flex
                    span 5  
                    li Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
                .flex
                    span 6  
                    li Гарантийное обслуживание по соответствующем сроку
                    
    article
        .red-line
        h3.art_header Почему Дымоход.ру?
        p В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык» 
    .advantages-group
        .advantages
            include ../../assets/images/chimney/Group.svg
            h5 Большой гарантийный срок 
            p Крепёж, стыковка элементов - 
                span 10 лет
            p Сквозная корозия труб - 
                span 5 лет
            p гидроизоляция - 
                span 3 года       
        .advantages
            include ../../assets/images/chimney/Group.svg
            h5 Помощь в покупке агрегата 
            p (печи, камина, котла), а также качественной 
            p установке на объекте с последующим 
            p гарантийным сервисом
        .advantages
            include ../../assets/images/chimney/Group.svg
            h5 Реальные отзывы клиентов
            p Убедитесь в добросовестности исполнения,  
            p прочитав Отзывы клиентов в специальном 
            p разделе. 
    h2 Необходима консультация
    p.text оставьте заявку или свяжитесь с нами в социальных сетях  
    .flex.orange.text
        include ../../assets/images/vk.svg
        include ../../assets/images/telegram.svg
        include ../../assets/images/instagram.svg
        include ../../assets/images/whatsapp.svg   
    div.form
        .form-wrapper
            h4 Для <span>консультации </span>заполните форму!
            p С Вами свяжутся в ближайшее время
            .data
                input(placeholder = 'Ваше Имя')
                input(placeholder = 'Ваш телефон')
                button#button отправить   
    .red-line      
    h3.art_header  Видео об установке    
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    
    .back
        .group
            include ../../assets/images/chimney/Bloba.svg
            include ../../assets/images/chimney/Blobb.svg
            include ../../assets/images/chimney/Group_dots_3x9vertical.svg
            include ../../assets/images/chimney/Group_dots_3x9vertical copy.svg
        iframe(type='text/html' width='770' height='440'
        src='http://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com'
        frameborder='0') 
    .red-line
    h3.art_header Фото выполненных работ    
    article.content
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    
    .block
        img(src='../../assets/images/chimney/Rectangle 197.jpg')
        img(src='../../assets/images/chimney/Rectangle 197 (1).jpg')
        img(src='../../assets/images/chimney/Rectangle 197 (2).jpg')
        img(src='../../assets/images/chimney/Rectangle 197 (3).jpg')
        img(src='../../assets/images/chimney/Rectangle 197 (4).jpg')
        img(src='../../assets/images/chimney/Rectangle 197 (5).jpg')
        img(src='../../assets/images/chimney/Rectangle 197 (6).jpg')
        img(src='../../assets/images/chimney/Rectangle 197 (7).jpg')