body {
    // background-color: black;
     margin: 0 auto;
    max-width: 1785px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 22px 43px;

    ul {
        display: flex;

        justify-content: space-between;
        align-items: center;

        li {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
            line-height: 23px;
            list-style: none;
            color: $base-grey;
            cursor: pointer;
            margin: 0 5px;
        }
    }

    .logo {
        max-width: 90px;
    }

    .burger {
        max-width: 48px;
        
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
         
        li {
            margin: 0 15px;
        }
    }

    .tel {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.08em;
        span{
            font-weight: 700;
        }
        margin-right: 20px;
    }

    .call_me {
        margin-right: 30px;
        font-size: 12px;
        line-height: 17px;
        color: #ae2236;
        border-bottom: 1px dashed #ae2236;
        font-weight: 700;

        text-transform: uppercase;
    }

    .socialWebs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100px;
    }

    .extraMenu {
        margin-right: 10px;
    }
    @media (max-width:768px){
        .menu, .call_me, .tel, .socialWebs{
            display: none;
        }
        
        .burger{
           order: 3;
        }
        .extraMenu {
            margin-left: auto;
        }
    }
}
