footer {
  height: 350px;
  width: 100%;
  background: $dark-grey;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .footer {
    max-width: 1218px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  h4 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #ffffff;
    margin: 0 0 18px 0;
  }

  ul {
    list-style: none;
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 1fr;

    li {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
      padding: 0 0 19px 0;

      &:hover {
        opacity: 0.85;
      }
    }
  }

  .catalog,
  .information,
  .contacts {
    width: 30%;
  }

  .contacts {
    ul {
      display: flex;
      flex-direction: column;

      .contacts_socials {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;

        li {
          width: 100%;

          &:hover {
            opacity: 0.85;
          }
        }
      }
    }

    .catalog_items {
      li {
        display: flex;
        flex-direction: row;
        align-items: center;

        &:hover {
          opacity: 0.85;
        }

        p {
          padding: 0 0 0 8px;

          span {
            color: #4c858b;
          }
        }
      }
    }
  }

  @media (max-width: 320px) {
    h4,
    ul,
    .catalog_items,
    .catalog,
    .information {
      display: none;
    }

    .contacts {
      .catalog_items {
        .li {
          display: none;
        }

        .contacts_socials {
          display: flex;
          width: 100vw;
          justify-content: space-around;
          align-items: center;
          height: 100px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  footer {
    height: 100px;
  }
}
