include ../../views/helpers/mixins

footer
    .footer
        .catalog
            h4 КАТАЛОГ
            ul.catalog_items
                li Дымоходы
                li Дымососы
                li Печи для дома
                li Печи для бани
                li Камины
                li Силикат кальция
                li Котлы
                li Ещё
        .information
            h4 ИНФОРМАЦИЯ
            ul.catalog_items
                li Каталог
                li Установка и монтаж
                li Отзывы 
                li Ликвидация товара
                li Полезное
                li Контакты
                li Оплата и доставка
        .contacts 
            h4 ВРЕМЯ РАБОТЫ
            ul.catalog_items
                li.li 
                    include  ../../assets/images/wall-clock.svg
                    p 
                     span пн-пт 
                    p 9:00 – 20:00   
                     span сб-вс 
                    p 10:00 – 18:00
                li.li 
                    include ../../assets/images/placeholder.svg
                    p г. Санкт - Петербург ,ул. Тамбасова д.7
                +mixinSocials(class='contacts_socials')
            

